#imagen_arriba.jumbotron {
    background-color: transparent;
    color: white;
    height: 170px;
    width: ;
    margin-bottom: 0;
}

.bg {
  background: url('./imagenes/mar.jpg') no-repeat center;
  position: fixed;
  width: 1139px;
  height: 170px;
  top:0;
  z-index: -1;
}
